<h2 mat-dialog-title>Edit Recipe</h2>
<mat-dialog-content>
  <form [formGroup]="form">
    <p>
      <mat-form-field class="full-width">
        <input matInput
               formControlName="name"
               maxlength="64"
               placeholder="Name" />
      </mat-form-field>
    </p>

    <p>
      <mat-form-field class="full-width">
        <input matInput
               formControlName="url"
               type="url"
               maxlength="256"
               placeholder="URL" />
      </mat-form-field>
    </p>

    <p>
      <mat-form-field class="full-width">
        <textarea matInput
                  formControlName="notes"
                  placeholder="Notes"></textarea>
      </mat-form-field>
    </p>

    <p>
      <mat-checkbox formControlName="active">
        Active
      </mat-checkbox>
    </p>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button
          mat-dialog-close>
    Cancel
  </button>
  <button mat-button
          [mat-dialog-close]="true">
    Save
  </button>
</mat-dialog-actions>
