<div class="row search-panel" fxLayout="row" fxLayoutAlign="center center">
  <mat-accordion class="headers-align">
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Search
        </mat-panel-title>
        <mat-panel-description>
          <span></span>
          <mat-icon>edit</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>

      <mat-form-field>
        <input matInput placeholder="Recipe name">
      </mat-form-field>
    </mat-expansion-panel>
  </mat-accordion>
</div>

<div class="row" fxLayout="row" fxLayoutAlign="center">
  <div class="col" fxLayout="column">
    <app-recipe *ngFor="let _ of [1, 2, 3, 4]"></app-recipe>
  </div>
  <div class="col" fxLayout="column">
    <app-recipe *ngFor="let _ of [1, 2, 3, 4]"></app-recipe>
  </div>
</div>

<button mat-fab
        id="create-recipe-fab"
        (click)="handleAddRecipe()">
  <mat-icon>create</mat-icon>
</button>
